.movinventory-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 10px auto;
}

.movinventory-container .content {
    width: 100%;
    padding: 96px;
    padding-top: 30px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0,0,0, 0.1);
    border-radius: 8px;

    display: flex;
}


.movinventory-container .content section {
    width: 100%;
}

.movinventory-container .content section h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 32px;
}

.movinventory-container .content form, fieldset {
    width: 100%;
}

.movinventory-container .content input, select {
    margin-top: 8px;
    margin-bottom: 8px;
}

.movinventory-container .content form .input-group{
    display: flex;
    width: 100%;
}

.movinventory-container .content form .input-group input + input{
    margin-left: 8px
}

.movinventory-container .content form .input-group fieldset + fieldset{
    margin-left: 8px
}

.movinventory-container .content form .input-group fieldset + fieldset + fieldset{
    margin-left: 8px
}

.movinventory-container .content form .input-group fieldset{
    border: 0;
    margin-left: 8px;
}

.movinventory-container .content form .operacaoProduto{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.movinventory-container .content form .operacaoProduto button{
    height: 40px;
    margin-left: 8px;
}

#btn_add{
    background: #228B22;
    padding: 5px;
    border: 0;
    border-radius: 8px;
    color: #ffffff;
    color: #ffffff;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: filter 0.2s;
}

#btn_add:hover {
    filter: brightness(90%);
}

#btn_cancel{
    background: #e02041;
    padding: 5px;
    border: 0;
    border-radius: 8px;
    color: #ffffff;
    color: #ffffff;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    transition: filter 0.2s;
}

#btn_cancel:hover {
    filter: brightness(90%);
}

#img_nf {
    padding-top: 13px;
}

.movinventory-container .content form fieldset{
    border: 0;
    margin-left: 8px;
}

#realizarMovimento{
    margin-top: 400px;
}

#parteProduto{
    margin-top: -450px;
    padding-bottom: 150px;
}